@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 1rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .colorOrangeHover:hover {
    /* background-color: #b26e26; */
    /* background-color: #a87136; */
    background-color: #e18e36;
    color: white;
    /* font-weight: bold; */
    transition:
      font-weight 2s ease,
      background-color 0.6s ease,
      color 0.3s ease;
  }
  /* Add space between list items */
  .tech-list {
    display: block; /* Asegura que se comporte como un bloque */
    margin-top: 5px; /* Ajusta este valor para el espacio vertical deseado */
  }
}
.goal-list {
  display: block; /* Asegura que se comporte como un bloque */
  margin-top: 15px; /* Ajusta este valor para el espacio vertical deseado */
}
a {
  font-style: normal;
}
.background-email {
  background-color: #da8b37;
  color: rgb(255, 251, 251);
}
.background-email:hover {
  background-color: #ffffff00;
  transition:
    background-color 0.6s ease,
    color 0.2s ease;
}
.myprojects {
  font-weight: bold;
  color: black;
  margin-top: -10px;
  margin-left: -10px;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.303);
}
.myprojects:hover {
  background-color: #eae8e8;
  /* color:white!important; */
  text-decoration: none;

  transition:
    background-color 0.6s ease,
    color 0.2s ease;
}
.destructive:hover {
  background-color: rgb(232, 226, 226);
  color: black;
  transition:
    background-color 0.6s ease,
    color 0.2s ease;
}
.myportfolio {
  background-color: white;
  color: black;
  box-shadow: 4px 4px 9px #da8b37b7;
}
.myportfolios:hover{
  background-color:#da8b37; 
}
