<footer>
  <div
    class="container flex flex-col items-center justify-center gap-2 text-center md:h-24"
  >
    <a
      href="https://xexubonete.dev"
      target="_blank"
      rel="noreferrer"
      class="underline underline-offset-4"
      style="font-size: 55%;"
    >
      xexubonete.dev
    </a>

    <p class="leading-loose text-muted-foreground" style="font-size: 55%;">
      The source code is available on my GitHub
    </p>
  </div>
</footer>
