---
import { buttonVariants } from './ui/_button'
import { ModeToggle } from './ui/_ThemeToggle'
import { LanguageSwitcher } from './ui/_RedirectToggle'
---

<script is:inline>
  document.addEventListener('astro:after-swap', function () {
    if (localStorage.getItem('theme') === 'dark')
      document.documentElement.classList.toggle('dark', true)
  })

  const getThemePreference = () => {
    return localStorage.getItem('theme')
  }

  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')
</script>

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 bg-primary backdrop-blur supports-[backdrop-filter]:bg-background/90"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2">
        <span class="inline-block font-bold">dotnet developer</span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1">
        <a
          href="https://github.com/xexubonete"
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: 'ghost' })}
        >
          GitHub
        </a>
      </nav>
      <nav class="flex items-center space-x-1">
        <a
          href="https://www.linkedin.com/in/jesus-bonete-sanchez/"
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: 'ghost' })}
        >
          LinkedIn
        </a>
      </nav>
      <!-- <nav class="flex items-center space-x-1">
        <a
          href="mailto:xexubonete@gmail.com"
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: 'ghost' })}
        >
          Mail
        </a>
      </nav> -->
      <nav class="flex items-center space-x-1">
        <LanguageSwitcher transition:persist client:load />
      </nav>
      <nav class="flex items-center space-x-1">
        <ModeToggle transition:persist client:load />
      </nav>
    </div>
  </div>
</header>
