---
import Card from '../Card.astro'
import { buttonVariants } from '../ui/_button'
---

<Card colSpan="lg:col-span-1" rowSpan="lg:row-span-1" colStart="lg:col-start-3" rowStart="lg:row-start-3" title="Projects">
  <div class="mt-4 grid grid-cols-2 gap-3">
    <a
      class={`project-pill w-full justify-center text-xs ${buttonVariants({ variant: 'destructive', size: 'sm' })}`}
      href="https://github.com/xexubonete/pilot-api"
      target="_blank"
      rel="noreferrer"
    >
      pilot-api
    </a>
    <a
      class={`project-pill w-full justify-center text-xs ${buttonVariants({ variant: 'destructive', size: 'sm' })}`}
      href="https://github.com/xexubonete/mediator-api"
      target="_blank"
      rel="noreferrer"
    >
      mediator-api
    </a>
    <a
      class={`project-pill w-full justify-center text-xs ${buttonVariants({ variant: 'destructive', size: 'sm' })}`}
      href="https://github.com/xexubonete/dapper-api"
      target="_blank"
      rel="noreferrer"
    >
      dapper-api
    </a>
    <a
      class={`project-pill project-pill-outline myportfolio w-full justify-center text-xs ${buttonVariants({ variant: 'outline', size: 'sm' })}`}
      href="https://github.com/xexubonete/my-portfolio"
      target="_blank"
      rel="noreferrer"
    >
      my-portfolio
    </a>
  </div>
</Card>
