---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">welcome</h6>
        <p class="m-0 text-xl font-light">
          <br />
          Hi, I'm <b class="font-bold" style="color:#d27c21">Jesus Bonete</b>, a
          backend dev focused on building efficient and scalable applications. My specialties 
          include creating robust and secure services, optimizing databases, and ensuring seamless 
          integration with the frontend from the server side.
          <br>I’m passionate about technology and always eager to for new challenges.
        </p>
      </div>
    </div>
    <img
      width="500"
      height="300"
      src="/me.png"
      class="pointer-events-none absolute bottom-[-20px] right-[-11px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt="memoji of andres plaza"
    />
  </div>
</Card>
