---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground">
        Let's start working together!
      </h1>
    </header>
    <address class="mt-4 flex w-fit flex-col">
      <h2 class="text-gray-500">Contact Details</h2>
      <p>xexubonete@gmail.com</p>
      <p>Alicante, Spain&#x1F1EA;&#x1F1F8</p>
    </address>
    <div class="mt-4 flex w-fit flex-col">
      <h2 class="text-gray-500">Socials</h2>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
        </li>
        <li>
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
        <li>
          <a href={LINKS.instagram} target="_blank">Instagram</a>
        </li>
      </ul>
    </div>
    <div class="flex h-full w-full flex-col">
      <div>
        <img
          width="90"
          height="90"
          src="/me_chillin.png"
          class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
          alt="memoji of xexu taking easy"
        />
      </div>
    </div>
  </div>
</Card>
