<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <script is:inline>
      var userLang = navigator.language || navigator.userLanguage

      console.log('Idioma del navegador:', userLang)

      if (userLang.startsWith('es')) {
        window.location.replace('/es/')
      } else {
        window.location.replace('/en/')
      }
    </script>
  </body>
</html>
