---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Disponible">
  <div class="mb-2 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <span class="cursor-pointer text-xs text-gray-500"
        >Sólo mirando... 😉</span
      >
    </div>
    <Pulse />
  </div>
  <br />
  <p class="text-sm">Actualmente trabajo en Savia by Berger-Levrault</p>
</Card>
