---
import Card from '../Card.astro'
import { Button } from '../ui/_button'
import { LINKS } from '../../../lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">welcome</h6>
        <p class="m-0 text-xl font-light">
          <br />
          Hola soy <b class="font-bold">Jesús Bonete</b>, desarrollador backend enfocado
          en crear aplicaciones eficientes y escalables. Mi especialidad es crear
          servicios robustos y seguros del lado servidor, optimización de
          bases de datos, garantizando una perfecta integración con el frontend.
          Soy un apasionado de la tecnología, siempre con ganas de abordar complejos desafíos.
        </p>
      </div>
      <!-- <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button>
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div> -->
    </div>
    <img
      width="500"
      height="300"
      src="/me.png"
      class="pointer-events-none absolute bottom-[-20px] right-[-11px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt="memoji of andres plaza"
    />
  </div>
</Card>
