---
import Card from '../Card.astro'
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2 lg:row-span-2" title="Sobre mГӯ">
  <div class="flex flex-col gap-2">
    <p class="font-light md:text-xs lg:text-sm">
      Mas allГЎ de la programaciГіn, me apasiona entrenarрҹҸӢпёҸвҖҚвҷӮпёҸ y llevar una vida
      saludableрҹҚҸ.
    </p>
    <p class="font-light md:text-xs lg:text-sm">
      Otra aficiГіn que practico es jugar a airsoftрҹҺ–пёҸ los fines de semana.
    </p>
  </div>
</Card>
