---
import Card from '../Card.astro'
import { buttonVariants } from '../ui/_button'

const PDF = '/CV_Jesus_BoneteS.pdf'
// Eliminar esta línea ya que no se usa
// const PDFImage = '/me.png'
---

<Card colSpan="lg:col-span-1" rowSpan="lg:row-span-4" colStart="lg:col-start-1" rowStart="lg:row-start-3" title="CV">
  <div class="mt-4 flex w-full justify-center">
    <div
      class="card card-compact w-full max-w-full gap-2 border-[oklch(var(--p))] transition-all md:max-w-[28rem] lg:max-w-[32rem]"
    >
      <figure>
        <object data={PDF} type="application/PDF" width="100%"></object>
      </figure>
      <div class="mt-4 flex flex-col gap-2">
        <p class="text-sm text-muted-foreground" style="text-align: center;">
          Visualiza y descarga mi CV haciendo clic abajo
        </p>
        <div class="card-actions mt-2 flex w-full items-center justify-center">
          <a target="_blank" href={PDF}>
            <button class={buttonVariants({ variant: 'destructive' })}> Descargar </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</Card>
