---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1 lg:col-span-1" rowSpan="md:row-span-2 lg:row-span-2" title="Objetivos">
  <div class="text-xm flex h-full w-full flex-col">
    <div>
      <p class="text-sm font-light">
        Quiero seguir creciendo en arquitectura backend con más foco en:
      </p>
      <ul class="tech-list list-inside list-disc text-xs">
        <strong class="goal-list">🧑‍💻 Microservicios</strong>
        <p>
          Diseñar sistemas distribuidos escalables y mantenibles, con límites
          claros y una comunicación fiable.
        </p>
        <strong class="goal-list">🧑‍💻 gRPC</strong>
        <p>
          Construir comunicación entre servicios más rápida y eficiente para
          entornos backend modernos.
        </p>
        <strong class="goal-list">🧑‍💻 IA</strong>
        <p>
          Explorar formas prácticas de integrar inteligencia artificial en
          productos reales y flujos backend.
        </p>
      </ul>
    </div>
  </div>
</Card>
