---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex h-full w-full">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">bienvenido</h6>
        <p class="m-0 text-xl font-light">
          <br />
          Hola, soy <b class="font-bold" style="color:#d27c21">Jesus Bonete</b>,
          desarrollador backend enfocado en crear aplicaciones eficientes y
          escalables. Mis especialidades son crear servicios robustos y seguros,
          optimizar bases de datos y garantizar una perfecta integración con el
          frontend desde el lado servidor.
          <br />Soy un apasionado de la tecnología, siempre tengo ganas de más
          desafíos.
        </p>
      </div>
    </div>
    <img
      width="500"
      height="300"
      src="/me.png"
      class="pointer-events-none absolute bottom-[-20px] right-[-11px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      alt="memoji of andres plaza"
    />
  </div>
</Card>
